.form-field {
  max-width: 100%;
}

input,
textarea {
  @apply outline-transparent border border-transparent py-1 px-2 text-base focus:ring-purple-500 focus:ring-2 rounded bg-shade-30 outline-hidden outline-offset-0;
  @apply focus:outline-blue-500 focus:outline-offset-0 focus:ring-offset-1 focus:ring-offset-purple-800 focus:border-blue-500 selection:bg-purple-400 selection:text-blue-900 max-w-full;
  transition: all 0.1s ease-in;
  color: rgb(220, 220, 230);
}

input {
  min-width: 60px;
  &[type='search'] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
    &::-ms-clear,
    &::-ms-revea {
      display: none;
      width: 0;
      height: 0;
    }
  }
  &.title {
    @apply hover:bg-shade-40 hover:shadow-lg focus:shadow-lg focus:bg-shade-40 scale-100 transition-all ease-in-out hover:scale-103 focus:scale-103 focus:ring-purple-500;
  }
}

.color-picker {
  &.vc-sketch {
    padding: 0;
    border-radius: 0.3rem;
    overflow: hidden;
    .vc-sketch-presets {
      border: 0;
    }
    .vc-sketch-field,
    .vc-sketch-controls {
      padding: 0.5rem 0.5rem 0;
    }
    &.spectrum {
      padding: 0;
      background-color: transparent;
      .vc-saturation,
      .vc-saturation--white,
      .vc-saturation--black {
        border-radius: 0.4rem;
      }
      .vc-sketch-field,
      .vc-sketch-controls,
      .vc-sketch-presets {
        display: none;
      }
    }
  }
}

.form-field {
  @apply hover:bg-shade-50 focus-within:bg-shade-50 flex items-center p-2 border border-shade-50 hover:border-shade-50 focus-within:border-shade-50 content-start rounded;
  input {
    @apply bg-transparent;
  }
}
