input,
textarea {
  @apply py-2 px-3 text-base rounded bg-shade-20;
  @apply focus-visible:outline-offset-0 hover:bg-shade-30 focus-visible:outline-purple-500 focus-visible:bg-shade-20 focus-visible:ring-shade-60 focus-visible:ring-1 focus-visible:ring-offset-purple-400 focus-visible:ring-offset-0 focus-visible:outline-0 focus-visible:shadow-lg focus-visible:shadow-blue-500/40;
  transition: all 0.1s ease-in;
  color: rgb(220, 220, 230);
}

input {
  min-width: 60px;
  &[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
    &::-ms-clear,
    &::-ms-revea {
      display: none;
      width: 0;
      height: 0;
    }
  }
  &.title {
    @apply hover:bg-shade-30 hover:shadow-lg focus:shadow-lg focus:bg-shade-30 scale-100 transition-all ease-in-out hover:scale-103 focus:scale-103 focus:ring-purple-500;
  }
}

.color-picker {
  @apply m-auto;
  &.vc-sketch {
    @apply p-0 rounded overflow-hidden bg-transparent;
    .vc-sketch-presets {
      @apply border-0;
    }
    .vc-input__label {
      @apply text-shade-80;
    }
    .vc-sketch-field--single {
      @apply w-1/4 m-0 transform scale-95 p-0; 
      input {
        @apply min-w-[8ch];
      }
    }
    .vc-sketch-field--double {
      @apply w-full flex-auto mb-1;
      .vc-input__label {
        @apply hidden;
      }
    }
    .vc-sketch-field,
    .vc-sketch-controls {
      @apply py-2 pr-3 bg-shade-20;
      .vc-input__input {
        @apply w-full shadow text-center;
      }
    }
    .vc-sketch-field {
      @apply p-1 bg-shade-35 flex flex-wrap;
    }
    .vc-sketch-alpha-wrap,
    .vc-sketch-hue-wrap, 
    .vc-sketch-color-wrap {
      @apply rounded;
    }
    .vc-sketch-color-wrap {
      @apply overflow-hidden;
    }
    .vc-checkerboard {
      @apply blur;
    }
    &.spectrum {
      @apply bg-shade-20 p-0;
      // background-color: transparent;
      .vc-saturation,
      .vc-saturation--white,
      .vc-saturation--black {
        @apply rounded-t;
      }
      .vc-sketch-controls,
      .vc-sketch-sliders {
        @apply p-0;
      }
      .vc-sketch-sliders > *:not(.vc-sketch-hue-wrap),
      .vc-sketch-color-wrap,
      .vc-sketch-field > *:not(.vc-sketch-field--double),
      .vc-input__label {
        @apply hidden #{!important};
      }
    }
    .vc-sketch-presets {
      @apply hidden #{!important};
    }
  }
}

.form-field {
  @apply max-w-full bg-shade-30 hover:shadow-lg rounded mb-2 focus-within:bg-shade-40 hover:bg-shade-40;
  @apply focus-within:outline-purple-500 focus-within:ring-cyan-500 focus-within:ring-1 focus-within:ring-offset-shade-50 focus-within:ring-offset-2 focus-visible:outline-0 focus-within:shadow-lg focus-within:shadow-blue-500/40;
  input {
    @apply bg-transparent focus-visible:outline-offset-0 focus-visible:ring-0 focus-visible:ring-offset-0 focus-visible:outline-0 focus-visible:shadow-none;
  }
}
