@import '~/assets/scss/_layout.scss';
@import '~/assets/scss/_typography.scss';
@import '~/assets/scss/_animation.scss';
@import '~/assets/scss/_buttons.scss';
@import '~/assets/scss/_inputs.scss';
@import '~/assets/scss/_modals.scss';
@import '~/assets/scss/_tooltips.scss';
@import '~/assets/tailwind.css';

body {
  @apply bg-site-dark text-white;
}

a {
  color: inherit;
  text-decoration: inherit;
}
::selection {
  background-color: #9b9b9b;
	color: #000000;
}